{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content form-horizontal box-content row-fluid">
    <div class="responsive-block">
        {{ entityConfig.renderDynamicFields(entity) }}
    </div>
</div>
