<div class="widget-content control-label"
     data-page-component-module="vitaliitracker/js/app/components/issue-updated-at-component"
     data-page-component-options="">
    {{ updatedAt | date }}
</div>
